// Place all the styles related to the Stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Stats {
  width: 450px;
  border: 1px solid #777;
  margin: auto;

  .Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 8px;
    border-bottom: 1px solid #DDD;

    div {
    }
  }
  .Row.Header {
    font-weight: 700;
  }
}

table.Age {
  width: 600px;
  margin: auto;
  
  tr.Header td {
    text-align: center;
    font-weight: 700;
  }

  tr.Char td{
    border-bottom: 1px solid #CCC;
  }
  td.hidden {
    display: none;
  }
  td {
    padding: 3px;
  }

}

.WithYearOutput {
  margin: 1em;
  .close {
    float: right;
  }
  .heading {
    clear: both;
    font-weight: 700;
  }
}
